.flower {
  position: relative;
  color: $text;

  @include response(tablet) {
    max-width: 53.75em;
  }

  &__main {
    width: 80%;
    margin: 0 auto;
    background-color: rgba(#293462, 0.12);
    // overflow: hidden;
  }
  &__img-box {
    position: relative;
    overflow: hidden;
  }

  &__bgc {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba($color-primary, 0.44);
  }

  &__bg {
    width: 100%;
    height: 20rem;
    object-fit: cover;
  }

  &__container {
    padding: 3rem 2rem;

    display: grid;
    grid-template-columns: 0.8fr 1fr;
    gap: 1.5rem;

    @include response(laptop) {
      grid-template-columns: 1fr;
    }

    @include response(tablet) {
      grid-template-columns: 1fr;
    }

    @include response(phone) {
      grid-template-columns: 1fr;
    }
  }

  &__photo-box {
    margin: 0 auto;
  }

  &__image {
    width: 40rem;
    height: 40rem;
    margin: 0 auto;
    border-radius: 1rem;
    object-fit: cover;
    outline: 0.3rem solid $color-secondary;

    @include response(tablet) {
      width: 30rem;
      height: 30rem;
    }

    @include response(phone) {
      width: 20rem;
    }
  }

  &__gallery-box {
    padding: 2rem 0;
  }

  &__all {
    padding: 1rem 2rem;
    background-color: $color-secondary;
    text-align: center;
    font-size: 1rem;
    border-radius: 10rem;
    display: inline-block;
    position: absolute;
    // top: 3rem;
    transform: translateY(5rem);
    cursor: pointer;

    &:hover {
      background-color: $color-primary;
    }
  }

  &__gallery {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    margin: 0 0.5rem;
    border-radius: 1rem;
    cursor: pointer;

    @include response(tablet) {
      width: 10rem;
      height: 10rem;
    }
  }
  &__name {
    font-size: 2rem;
    padding: 2rem 0rem;
    font-weight: 600;
    text-transform: capitalize;
    display: block;
    // color: $color-primary;
  }
  &__price {
    padding: 0.5rem 0;
    font-size: 1.8rem;
    display: block;
  }

  &__rating {
    span {
      display: inline-block;
    }
    display: flex;
    align-items: center;
  }

  &__rating,
  &__desc {
    display: block;
    font-size: 1.5rem;
  }

  &__desc {
    font-size: 1.2rem;
    padding: 0.5rem;
    line-height: 1.7;
  }

  &__btn {
    width: 4rem;
    height: 4rem;
    display: inline-block;
    background-color: $color-secondary;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    border: 0;
    margin: 0.5rem;
    cursor: pointer;
    color: $text;

    @include response(tablet) {
      width: 3rem;
      height: 3rem;
    }

    &:hover {
      background-color: $color-primary;
    }
  }

  &__count {
    padding: 0.2rem;
    font-size: 1.2rem;
  }

  &__center {
    display: flex;
    // justify-content: space-around;
    align-items: center;
    @include response(tablet) {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__contact {
    display: inline-block;
    padding: 1rem 2rem;
    border: none;
    border-radius: 10rem;
    margin: 1rem 2rem;
    cursor: pointer;

    &:hover {
      background-color: $color-primary;
      color: $white;
    }
  }

  &__addtocart {
    display: block;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    background-color: $color-secondary;
    border-radius: 10rem;
    border: 0;
    margin: 1rem 0.8rem;
    margin-left: 4rem;
    cursor: pointer;
    // transform: translatex(15rem) translateY(-4.5rem);

    @include response(tablet) {
      font-size: 1.2rem;
    }
    @include response(maxphone) {
      font-size: 1rem;
      margin: 0.5rem;
    }
    &:hover {
      background-color: $color-primary;
    }

    span {
      padding: 0 0.2rem;
      color: $text;
    }
  }

  &__type {
    display: block;
    padding: 0.5rem;
    font-size: 1.2rem;
    text-transform: capitalize;

    span {
      color: $color-primary;
    }
  }

  &__desc-box {
    padding: 1rem;

    ul {
      display: flex;

      @include response(maxphone) {
        flex-direction: column;
      }
    }
  }

  &__item {
    display: inline-block;
    margin: 0 2rem;
    font-size: 1.5rem;
    padding: 0.2rem;
    cursor: pointer;

    @include response(tablet) {
      font-size: 1.2rem;
      margin: 0 1rem;
    }

    @include response(maxphone) {
      margin: 0 0.5rem;
    }
  }

  .active {
    border-bottom: 0.2rem solid $color-primary;
  }

  &__text {
    padding: 1rem;
    font-size: 1.5rem;
    line-height: 1.8;
    // word-spacing: 0.3rem;
    @include response(tablet) {
      font-size: 1.2rem;
    }

    @include response(maxphone) {
      font-size: 1rem;
    }
  }

  &__close {
    font-size: 2rem;
    padding: 0.8rem 2rem;
    background-color: $color-primary;
    border-radius: 10rem;
    cursor: pointer;
    position: absolute;
    top: 0;
    z-index: 100;

    &:hover {
      background-color: red;
    }
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, minmax(20rem, 1fr));
  gap: 0.5rem;
  padding: 1rem;

  @include response(tablet) {
    grid-template-columns: 15rem 15rem 15rem;
    gap: 0.5rem;
  }

  @include response(phone) {
    grid-template-columns: 1fr 1fr;
    gap: 0.2rem;
  }

  &__photo {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    // margin: 0.5rem;

    @include response(tablet) {
      width: 15rem;
      height: 15rem;
    }

    @include response(phone) {
      width: 10rem;
      height: 10rem;
    }
  }
}
